/* parent containers in order */

body {
  font-family: "Proza Libre", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-family: "Proza Libre", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  color: #292929;
}

.width {
  width: 100%;
}

header {
  background-color: #562b81;
}

label {
  font-family: "Proza Libre", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.margin-left {
  margin: 10px;
}

.background {
  background-color: #f0f0f0;
  border-radius: 4px;
}

form {
  border-style: 1px solid black;
}

.top-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #fff;
  background-color: #562b81;
  text-align: center;
  margin: auto;
  padding: 20px 10px;
  font-weight: 200;
}

img {
  width: 100%;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.h1-box {
  flex-direction: column;
  border-width: 1px;
  border-color: darkblue;
}

input {
  height: 40px;
  left: 16px;
  top: 426px;
  background: #fff;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
}

textarea {
  height: 149px;
  left: 17px;
  top: 623px;
  background: #fff;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
}

.button-class {
  margin-left: auto;
  margin-top: 20px;
}

#button {
  width: 72px;
  height: 32px;
  left: 1003px;
  top: 706px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  color: white;
  text-transform: uppercase;
  background-color: #562b81;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.15s ease;
}
