/* parent containers in order */

body {
  font-family: "Proza Libre", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-family: "Proza Libre", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  color: #292929;
}

.background {
  background-color: #f0f0f0;
  border-radius: 4px;
}

.display-flex {
  display: flex;
}

.dir-column {
  flex-direction: column;
}

.col-direction {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

form {
  border-style: 1px solid black;
}

.top-title {
  align-items: flex-start;
  flex-direction: row;
  color: #fff;
  background-color: #562b81;
  border: 1px solid #b6b6b6;
  padding-left: 40px;
  /* stylelint-disable-next-line declaration-block-no-shorthand-property-overrides */
  padding: 20px;
}

.pdlr-10 {
  padding: 0 10px;
}

img {
  width: 100%;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.h1-box {
  flex-direction: column;
  border-width: 1px;
  border-color: darkblue;
}

input {
  width: 341px;
  height: 40px;
  left: 16px;
  top: 426px;
  background: #fff;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
}

textarea {
  width: 341px;
  height: 149px;
  left: 17px;
  top: 623px;
  color: #fff;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
}

.button-class {
  margin-left: auto;
}

#button {
  width: 72px;
  height: 32px;
  left: 1003px;
  top: 706px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  color: white;
  text-transform: uppercase;
  background-color: #562b81;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.15s ease;
}
