/* parent containers in order */

body {
  font-family: "Proza Libre", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-family: "Proza Libre", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  color: #292929;
}

.width {
  width: 100%;
}

.justify-align {
  display: flex;
  justify-content: left;
}

header {
  background-color: #562b81;
}

label {
  font-family: "Proza Libre", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.margin-left {
  margin: 10px;
}

.background {
  background-color: #f0f0f0;
  border-radius: 4px;
}

form {
  border-style: 1px solid black;
}

.top-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #fff;
  background-color: #562b81;
  text-align: center;
}

img {
  width: 100%;
}

input {
  padding: 10px 5px;
  background: #fff;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
}

textarea {
  height: 149px;
  left: 17px;
  top: 623px;
  background: #fff;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
}

#savebutton {
  width: 72px;
  height: 32px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  color: white;
  text-transform: uppercase;
  background-color: #562b81;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

#newbutton {
  width: 72px;
  height: 32px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  color: white;
  text-transform: uppercase;
  background-color: #562b81;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.padding-left {
  padding-left: 10px;
}

.button {
  width: 72px;
  height: 32px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  color: white;
  text-transform: uppercase;
  background-color: #562b81;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.15s ease;
  margin-top: 20px;
  margin-left: auto;
  padding-left: 20px;
}

.ul-list {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  justify-content: flex-start;
  padding-left: 0;
}

h3 {
  padding-top: 5px;

  /* margin-left: 24px; */
}

li {
  width: 100%;
}

p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.object-fit {
  object-fit: fill;
}

#entrypage {
  margin-left: 24px;
}
